
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$full-sail-frontend-primary: mat.define-palette(mat.$pink-palette, 500);
$full-sail-frontend-accent: mat.define-palette(mat.$indigo-palette, 900);

// The warn palette is optional (defaults to red).
$full-sail-frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$full-sail-frontend-theme: mat.define-light-theme((
  color: (
    primary: $full-sail-frontend-primary,
    accent: $full-sail-frontend-accent,
    warn: $full-sail-frontend-warn,
  )
));

$alt-frontend-primary: mat.define-palette(mat.$teal-palette, A700);

$alt-frontend-theme: mat.define-light-theme((
  color: (
    primary: $alt-frontend-primary,
    accent: $full-sail-frontend-accent,
    warn: $full-sail-frontend-warn,

  )
));

.alt-theme {
  @include mat.all-component-colors($alt-frontend-theme);
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($full-sail-frontend-theme);



