<body>
    <div class="card-list">

        <div class="header-div">
            <h2 ng-non-bindable>Welcome {{ displayName }}</h2> <!--this is simply a place holder till we inplement the code-->
            <mat-form-field appearance="outline">
                <mat-label ngClass="search-label">Search</mat-label>
                <input  matInput>
            </mat-form-field>
        </div>

        <mat-card class="accounts-content-card paycheck-card">
            <mat-card-content>
                <div class="input-paycheck-div">
                    <h2>Input Paycheck</h2> 
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="">insert_drive_file</mat-icon>
                </div>
                <h5>New paycheck? Add CSV to keep everything up to date</h5>
                

            </mat-card-content>
        </mat-card>

        <mat-card class="accounts-content-card">
            <mat-card-content>
                Testing transactions
                <button mat-raised-button color="primary" (click)="addTransactions()">Add transaction</button>
            </mat-card-content>
        </mat-card>

        
        <mat-card class="accounts-content-card">
            <mat-card-content>
                Testing
            </mat-card-content>
        </mat-card>


        <mat-card class="accounts-content-card">
            <mat-card-content>
                Testing
            </mat-card-content>
        </mat-card>


        <mat-card class="accounts-content-card expenses-card">
            <mat-card-content>
                Testing
            </mat-card-content>
        </mat-card>

        <mat-card class="accounts-content-card hidden-card">
            <mat-card-content>
                Testing
            </mat-card-content>
        </mat-card>


    </div>

</body>
