body {
    height: 100vh;
}

.header-div {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 40px;
}

.items-centered {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.date-field {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 5px;
}

svg:not(:root).svg-inline--fa,
svg:not(:host).svg-inline--fa {
    height: 30px;
}

.cashFlowHeader {
    text-align: center;
}

.goalsBtn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.accounts-content-card {

    width: 100%;
    height: 30%;
    margin-bottom: 90px;
    box-sizing: border-box;
}

.transactBtn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.editBtn {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.goalDetails {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.datePicker {
    width: 175px;
}

.datePicker .mat-datepicker-input {
    width: 100%;
}


.input-paycheck-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 35px;
    padding-right: 35px;
    max-width: 2225px;
    margin-left: auto;
    margin-right: auto;
}

.margin-auto {
    margin-bottom: 3px;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
}

.flex-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.flex-goal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


@media (prefers-color-scheme: dark) {
    mat-card {
        border: black solid 3px;
    }

    .accounts-content-card {

        width: 100%;
        height: 30%;
        margin-bottom: 90px;
        box-sizing: border-box;
    }

}


.hidden-card {
    visibility: hidden;
}

@media (min-width: 1870px) {
    .accounts-content-card {
        width: 550px;
        margin-bottom: 90px;
        margin-left: 25px;
        margin-right: 25px;
    }

}

@media (min-width: 1690px) and (max-width: 1870px) {
    .accounts-content-card {
        width: 700px;
        margin-bottom: 90px;
        margin-left: 25px;
        margin-right: 25px;
    }

}

@media (min-width: 1440px) and (max-width: 1690px) {
    .accounts-content-card {
        width: 630px;
        margin-bottom: 90px;
        margin-left: 25px;
        margin-right: 25px;
    }

}

@media (min-width: 1200px) and (max-width: 1440px) {
    .accounts-content-card {
        width: 515px;
        margin-bottom: 90px;
        margin-left: 25px;
        margin-right: 25px;
    }

}


@media (min-width: 1020px) and (max-width: 1200px) {
    .accounts-content-card {
        width: 415px;
        margin-bottom: 90px;
        margin-left: 25px;
        margin-right: 25px;
    }

}


@media (min-width: 825px) and (max-width: 1020px) {
    .accounts-content-card {

        margin-bottom: 90px;
        width: 600px;
    }

    .hidden-card {
        display: none;
    }
}

@media (min-width: 650px) and (max-width: 825px) {
    .accounts-content-card {

        margin-bottom: 90px;
        width: 450px;
    }

    .hidden-card {
        display: none;
    }
}

@media (min-width: 470px) and (max-width: 650px) {
    .accounts-content-card {

        margin-bottom: 90px;
        width: 400px;
    }

    .hidden-card {
        display: none;
    }
}

@media (max-width: 470px) {
    .accounts-content-card {

        margin-bottom: 90px;
        width: 300px;
    }

    .hidden-card {
        display: none;
    }
}

.filter-field {
    font-size: 16px;
    width: 100%;
}

tr.example-detail-row {
    height: 0;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}