html {
    background-color: rgb(30, 30, 30);
}

.header-div {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 40px;
}



.accounts-content-card {

    width: 100%;
    height: 30%;
    margin-bottom: 90px;
    box-sizing: border-box;
    background-color: lightgray;
    
}
.input-paycheck-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 35px;
    padding-right: 35px;
    max-width: 2225px;
    margin-left: auto;
    margin-right: auto;
}





@media (prefers-color-scheme: dark) {

    .mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input {
        color: white;
    }

    .search-label {
        color: white;
    }

  body {
    background-color: rgb(25, 25, 25);
    color: white;
  }
    
    .accounts-content-card {

        width: 100%;
        height: 30%;
        margin-bottom: 90px;
        box-sizing: border-box;
        background-color: rgb(59, 55, 52);
        color: white;
        
    }

}



.hidden-card {
    visibility: hidden;
}

@media (min-width: 1870px) {
    .accounts-content-card {
        width: 550px;
        margin-bottom: 90px;
        margin-left: 25px;
        margin-right: 25px;
    }

}

@media (min-width: 1690px) and (max-width: 1870px) {
    .accounts-content-card {
        width: 700px;
        margin-bottom: 90px;
        margin-left: 25px;
        margin-right: 25px;
    }

}

@media (min-width: 1440px) and (max-width: 1690px) {
    .accounts-content-card {
        width: 630px;
        margin-bottom: 90px;
        margin-left: 25px;
        margin-right: 25px;
    }

}

@media (min-width: 1200px) and (max-width: 1440px) {
    .accounts-content-card {
        width: 515px;
        margin-bottom: 90px;
        margin-left: 25px;
        margin-right: 25px;
    }

}


@media (min-width: 1020px) and (max-width: 1200px) {
    .accounts-content-card {
        width: 415px;
        margin-bottom: 90px;
        margin-left: 25px;
        margin-right: 25px;
    }

}


@media (min-width: 825px) and (max-width: 1020px)  {
    .accounts-content-card {
        
        margin-bottom: 90px;
        width: 600px;
    }

    .hidden-card {
        display: none;
    }
}

@media (min-width: 650px) and (max-width: 825px)  {
    .accounts-content-card {
        
        margin-bottom: 90px;
        width: 450px;
    }

    .hidden-card {
        display: none;
    }
}

@media (min-width: 470px) and (max-width: 650px)  {
    .accounts-content-card {
        
        margin-bottom: 90px;
        width: 400px;
    }

    .hidden-card {
        display: none;
    }
}

@media (max-width: 470px)  {
    .accounts-content-card {
        
        margin-bottom: 90px;
        width: 300px;
    }

    .hidden-card {
        display: none;
    }
}

