<body>
<img src="" alt="">
<p>Lorem Ipsom</p>
<button mat-raised-button color="warn">Create Your Free Account</button>

<h2>Another Header</h2>
<p>Lorem Ipsom</p>
<img src="" alt="">
<button mat-raised-button color="warn">Start Saving Money</button>

<h1>Testimonials</h1>
<p>Lorem Ipsom</p>

<p>Lorem Ipsom</p>

<p>Lorem Ipsom</p>

<p>Lorem Ipsom</p>
<button mat-raised-button color="warn">Get Started Today</button>

<!-- <button (onclick)="openSignUpDialog()">Sign-in</button>
<button (onclick)="openSignInDialog()">Register</button>
<button (onclick)="userService.SignOut()">Logout</button> -->

</body>

