<header>
    <nav>
        <mat-toolbar>
            <img>
            <h1><span>Full Sail</span></h1>
            <p>Manage your money and take control!</p>
            <mat-slide-toggle><span>Dark Mode</span></mat-slide-toggle>
            <button mat-raised-button>Sign In</button>
            <button mat-raised-button>Register</button>
        </mat-toolbar>
    </nav>
</header>
<body>
<img src="" alt="">
<p>Lorem Ipsom</p>
<button mat-raised-button>Create Your Free Account</button>

<h2>Another Header</h2>
<p>Lorem Ipsom</p>
<img src="" alt="">
<button mat-raised-button>Start Saving Money</button>

<h1>Testimonials</h1>
<p>Lorem Ipsom</p>

<p>Lorem Ipsom</p>

<p>Lorem Ipsom</p>

<p>Lorem Ipsom</p>
<button mat-raised-button>Get Started Today</button>

<button (onclick)="openSignUpDialog()">Sign-in</button>
<button (onclick)="openSignInDialog()">Register</button>
<button (onclick)="userService.SignOut()">Logout</button>

</body>
<footer>
    <h3>Full Sail</h3>
    <img src="" alt="">
    <p>Copyright 2023 </p>
    <mat-icon></mat-icon>
    <mat-icon></mat-icon>
    <mat-icon></mat-icon>
    <mat-icon></mat-icon>
    <mat-icon></mat-icon>
    <mat-icon></mat-icon>
    <mat-icon></mat-icon>
</footer>
