
header {
    width: 100%;
}

.header {
    background-color: navy;
    border-bottom: solid black 1px;
    color: white;
}

/* router-outlet {

} */

footer {
    margin-top: auto;
    color: white;
    background-color: navy;
    width: 100%;
}

div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;

}

mat-icon {
    padding: 3px;
}

mat-toolbar {
    display: flex;
    justify-content: space-around;
}

.footer-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

@media (prefers-color-scheme: dark) {
    
    .header {
        color: white;
        /* background-color: rgb(50, 50, 50); */
        background-color: navy;
        border-bottom: white solid 1px;
    }

    footer {
        color: white;
        /* background-color: rgb(50, 50, 50); */
        background-color: navy;
        border-top: white solid 1px;
    }

}


@media (prefers-color-scheme: dark) {
    .dark-mode-moon {
        display: none;
        visibility: hidden;
    }
}


@media (min-width: 1870px) {
    .body-p {
        visibility: hidden;
    }

}

@media (min-width: 1690px) and (max-width: 1870px) {
    .body-p {
        visibility: hidden;
    }

}

@media (min-width: 1440px) and (max-width: 1690px) {
    .body-p {
        visibility: hidden;
    }

}

@media (min-width: 1200px) and (max-width: 1440px) {
    .body-p {
        visibility: hidden;
    }

}


@media (min-width: 1020px) and (max-width: 1200px) {
    .body-p {
        visibility: hidden;
    }

}


@media (min-width: 825px) and (max-width: 1020px)  {
    .body-p {
        visibility: hidden;
    }
}

@media (min-width: 650px) and (max-width: 825px)  {
    .body-p {
        visibility: hidden;
    }
}

@media (min-width: 470px) and (max-width: 650px)  {
    .body-p {
        margin-top: 15px;
        color: navy;
        font-size: x-large;
        font-style: italic;
        font-weight: bold;
        text-align: center;
    }
    .header-p {
        visibility: hidden;
    }
}

@media (max-width: 470px)  {
    .body-p {
        margin-top: 15px;
        color: navy;
        font-size: x-large;
        font-style: italic;
        font-weight: bold;
        text-align: center;
    }
    .header-p {
        visibility: hidden;
    }
}

