<header>
    <nav>
        <mat-toolbar >
            <img>
            <h1><span>Full Sail</span></h1>
            <mat-icon>storage</mat-icon>
            <p>Manage your money and take control!</p>
            <span><mat-icon>brightness_5</mat-icon><mat-slide-toggle></mat-slide-toggle><mat-icon>brightness_3</mat-icon></span>
            <a><mat-icon fontIcon="home"></mat-icon></a>
            <button mat-raised-button color="warn">Sign In</button>
            <button mat-raised-button color="warn">Register</button>
        </mat-toolbar>
    </nav>
</header>
<br>
<router-outlet></router-outlet>
<br>
<footer>
    <h3>Full Sail <mat-icon>copyright</mat-icon> 2023</h3>
    <img src="" alt="">
    <p></p>
    <mat-icon fontIcon=""></mat-icon>
    <mat-icon fontIcon="home"></mat-icon>
    <mat-icon></mat-icon>
    <mat-icon></mat-icon>
    <mat-icon></mat-icon>
    <mat-icon></mat-icon>
    <mat-icon></mat-icon>
</footer>