header {
    width: 100%;
    max-width: 100%;
}

.header {
    background-color: navy;
    border-bottom: solid black 1px;
    color: white;
    height: 120px;
    display: flex;
    max-width: 100%;
}

.header-p {
    font-size: 25px;
    margin-left: 15%;
}

.btnDiv {
    gap: 25px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: flex-end;
    position: relative;
}

.title {
    font-size: 50px;
    font-weight: bold;
    margin-left: 5%;
}

footer {
    color: white;
    background-color: navy;
    width: 100%;

}

.mediaIcons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;

}

.navBtn {
    margin-top: -10px;
}

mat-icon {
    padding: 3px;
}

.footer-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 120px;
}

@media (prefers-color-scheme: dark) {

    .header {

        background-color: navy;
        border-bottom: white solid 1px;
    }

    footer {
        color: white;
        background-color: rgb(50, 50, 50);
        background-color: navy;
        border-top: white solid 1px;
    }

}

@media (min-width: 1870px) {
    .btnDiv {
        margin-left: 20px;
        position: absolute;
        right: 20px;
    }

    .navBtn {
        display: none;
    }
}

@media (min-width: 1690px) and (max-width: 1870px) {
    .btnDiv {
        margin-left: 20px;
        position: absolute;
        right: 20px;
    }

    .navBtn {
        display: none;
    }
}

@media (min-width: 1440px) and (max-width: 1690px) {

    .navBtn {
        display: none;
    }

    .btnDiv {
        margin-left: 20px;
        position: absolute;
        right: 20px;
    }

}

@media (min-width: 1200px) and (max-width: 1440px) {

    .btnDiv {
        margin-left: 20px;
        position: absolute;
        right: 20px;
    }

    .header-p {
        margin-left: 40px;
    }

}


@media (min-width: 1020px) and (max-width: 1200px) {
    .header-p {
        display: none;
    }

    .title {
        margin: auto;
    }

    .btnDiv {
        margin-left: 20px;
        position: absolute;
        right: 20px;
    }
}


@media (min-width: 825px) and (max-width: 1020px) {
    .header-p {
        display: none;
    }

    .title {
        margin: auto;
    }

    .btnDiv {
        margin-left: 20px;
        position: absolute;
        right: 20px;
    }
}

@media (min-width: 650px) and (max-width: 825px) {
    .header-p {
        display: none;
    }

    .title {
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .btnDiv {
        margin-left: 20px;
        position: absolute;
        right: 20px;
    }
}

@media (min-width: 470px) and (max-width: 650px) {
    .header-p {
        display: none;
    }

    .title {
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .btnDiv {
        margin-left: 20px0;
        position: absolute;
        right: 20px;
    }
}

@media (max-width: 470px) {
    .header-p {
        display: none;
    }

    .btnDiv {
        margin-left: 0px;
        position: absolute;
        right: 0px;
    }

    .title {
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
}