<header>
    <nav>
        <mat-toolbar class="header">
            <img style="width: 50px;" src="../assets/favicon.png" (click)="getAccountsPage()">
            <h1><span>Full Sail</span></h1>
            <p class="header-p">Manage your money and take control!</p>
            <button mat-raised-button color="warn" (click)="openSignInDialog()" *ngIf="!isSignedIn">Sign In</button>
            <button mat-raised-button color="warn" (click)="openRegisterDialog()" *ngIf="!isSignedIn">Register</button>
            <button mat-raised-button color="warn" (click)="getAccountsPage()" *ngIf="isSignedIn">Accounts</button>
            <button mat-raised-button color="warn" (click)="getProfile()" *ngIf="isSignedIn">Profile</button>
            <button mat-raised-button color="warn" (click)="signOut()" *ngIf="isSignedIn">Logout</button>
        </mat-toolbar>
    </nav>
</header>

<p class="body-p">Manage your money and take control!</p>
<router-outlet></router-outlet>

<footer>
    <div class="footer-div">
        <img style="width: 50px;" src="../assets/favicon.png">
        <h3>Full Sail <mat-icon>copyright</mat-icon> 2023</h3>
        <div>
            <mat-icon><fa-icon [icon]="faTwitter"></fa-icon></mat-icon>
            <mat-icon><fa-icon [icon]="faFacebook"></fa-icon></mat-icon>
            <mat-icon><fa-icon [icon]="faTiktok"></fa-icon></mat-icon>
            <mat-icon><fa-icon [icon]="faInstagram"></fa-icon></mat-icon>
            <mat-icon><fa-icon [icon]="faGithub"></fa-icon></mat-icon>
        </div>
    </div>
</footer>