header {
    width: 100%;
}

.header {
    /* background-color: rgb(206, 216, 224); */
    border-bottom: solid black 1px;
}

router-outlet {
    min-height: 100%;
    
    
}

footer {
    margin-top: auto;
    bottom: 0px;
    
    /* background-color: lightgrey; */
    width: 100%;
}

div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;

}

mat-icon {
    padding: 3px;
}

mat-toolbar {
    display: flex;
    justify-content: space-around;
    
}

.footer-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}



@media (prefers-color-scheme: dark) {
    
    /* .header {
        color: white;
        background-color: rgb(50, 50, 50);
        border-bottom: white solid 1px;
    }

    footer {
        color: white;
        background-color: rgb(50, 50, 50);
        border-top: white solid 1px;
    } */

   


    }


@media (prefers-color-scheme: dark) {
    
}


@media (min-width: 1870px) {


}

@media (min-width: 1690px) and (max-width: 1870px) {


}

@media (min-width: 1440px) and (max-width: 1690px) {


}

@media (min-width: 1200px) and (max-width: 1440px) {


}


@media (min-width: 1020px) and (max-width: 1200px) {


}


@media (min-width: 825px) and (max-width: 1020px)  {

}

@media (min-width: 650px) and (max-width: 825px)  {

}

@media (min-width: 470px) and (max-width: 650px)  {

}

@media (max-width: 470px)  {
  

 
}

