<header>
    <nav>
        <mat-toolbar class="header" >
        <!-- <div> -->
            <img alt="Icon">
            <h1><span>Full Sail</span></h1>
            <mat-icon color="accent"><fa-icon [icon]="faAnchor"></fa-icon></mat-icon>
            <p>Manage your money and take control!</p>
           
     
            <button mat-raised-button color="primary">Sign In</button>
            <button mat-raised-button color="primary">Register</button>
            <!-- </div> -->
        </mat-toolbar>
    </nav>
</header>

<router-outlet></router-outlet>

<footer>
    <div class="footer-div">
        <img src="" alt="Icon">
        <h3>Full Sail <mat-icon>copyright</mat-icon> 2023</h3>
        
        
        <div>
            <mat-icon><fa-icon [icon]="faTwitter"></fa-icon></mat-icon>
            <mat-icon><fa-icon [icon]="faFacebook"></fa-icon></mat-icon>
            <mat-icon><fa-icon [icon]="faTiktok"></fa-icon></mat-icon>
            <mat-icon><fa-icon [icon]="faInstagram"></fa-icon></mat-icon>
            <mat-icon><fa-icon [icon]="faGithub"></fa-icon></mat-icon>
        </div>
    </div>
        
</footer>