<div id="container">
    <h2 mat-dialog-title>Add a New Transaction</h2>
    <div class="form-container">
        <div class="date-field">
            <mat-form-field style="width: 170px;">
                <mat-label>Date</mat-label>
                <input [matDatepicker]="datePicker" [(ngModel)]='date' matInput>
                <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
                <mat-datepicker #datePicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field style="width: 170px;">
                <mat-label>Description</mat-label>
                <input [(ngModel)]="description" matInput>
            </mat-form-field>
        </div>
        <div class="amount-field">
            <mat-form-field style="width: 170px;">
                <mat-label>Amount</mat-label>
                <input [(ngModel)]="amount" matInput>
            </mat-form-field>
            <mat-checkbox [(ngModel)]="contributeToGoals" name="contributeToGoals" ngClass="margin-auto">Contribute To
                Goals</mat-checkbox>
        </div>
    </div>
    <div class="buttons" mat-dialog-actions>
        <button mat-raised-button color="accent" (click)="addTransaction()">Add</button>
        <button mat-raised-button color="warn" (click)="closeDialog()">Cancel</button>
    </div>
</div>