#container {
    display: block;
    justify-items: center;
    border: red solid 6px;
    height: 302px;
}

h2 {
    text-align: center;
}

mat-form-field {
    margin-left: 20px;
}

.date-field {
    margin-right: 50px;
}

.amount-field {
    margin-right: 98px;
}

.buttons {
    justify-content: center;
    margin-right: 10px;
}

@media (min-width: 825px) and (max-width: 1020px)  {
    #container {
        border: none;
    }
}

@media (min-width: 650px) and (max-width: 825px)  {
    #container {
        border: none;
    }
}

@media (min-width: 470px) and (max-width: 650px)  {
    #container {
        border: none;
    }
}