<div id="container">
    <h2 mat-dialog-title>Add a New Goal</h2>
    <div class="form-container">
        <mat-form-field>
            <mat-label>Name of Goal</mat-label>
            <input [(ngModel)]='name' matInput placeholder="ex. Save for a house!">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Amount Per Paycheck</mat-label>
            <input [(ngModel)]="amountPerPaycheck" matInput type="number > 0" placeholder="175.00">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Total Amount for this Goal</mat-label>
            <input [(ngModel)]="total" matInput type="number > 0" placeholder="1000.00">
        </mat-form-field>
    </div>
    <div class="buttons" mat-dialog-actions>
        <button mat-raised-button color="accent" (click)="addGoal()">Add Goal</button>
        <button mat-raised-button color="warn" (click)="closeDialog()">Cancel</button>
    </div>
</div>