#container {
    display: block;
    justify-items: center;
    border: red solid 6px;
    height: 288px;
}

#email {
    margin-left: 22px;
}

#password {
    margin: -10px; 
}

.email {
    justify-content: center;
}

.password {
    justify-content: center;
    margin-top: 25px;
}

.submitBtn {
    justify-content: center;
    margin-top:50px;
}

.label1, .label2{
    margin: 50px;
    font-weight: bold;
    color: navy;
} 
 mat-dialog-content {
    justify-content: center;
}
h1 {
    justify-content: center;
    margin-left: 42%;
} 

mat-dialog-title {
    font-weight: bold;
    color: navy;
}