<div class="top">
    <img src="" alt="Profile Photo">
    <div class="inner">
        <h3>Name</h3>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput>
        </mat-form-field>
        <h3>Username</h3>
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput>
        </mat-form-field>
    </div>

</div>

<mat-divider></mat-divider>
<div class="mid">
    <mat-card>
        <h3 class="address">Address</h3>
        <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput>
        </mat-form-field>
        <h3 class="email">Email</h3>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput>
        </mat-form-field>
        <h3 class="phone">Phone Number</h3>
        <mat-form-field>
            <mat-label>Number</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-card-actions align="end" class="buttons">
            <button mat-raised-button class="edit">Edit</button>
            <button mat-raised-button class="save">Save</button>
        </mat-card-actions>

    </mat-card>
</div>