.top {
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.address {
    padding-left: 10%;
}

.email {
    padding-left: 10%;
}

.phone {
    padding-left: 10%;
}

.mid mat-form-field {
    padding: 0 10% 0 10%;
}

.mid {
    padding: 50px;
}

.mid-card {
    border: solid 4px navy;
}

mat-divider {
    margin: 0 20px 0 20px;
}

.profile-card {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: solid 4px navy;
}

mat-card-image {
    width: 100%;
    object-fit: cover;
}

