.top {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.address {
    padding-left: 10%;
}

.email {
    padding-left: 10%;
}

.phone {
    padding-left: 10%;
}

input {
    /* margin: 0 50px 0 50px; */
    /* background-color: black; */
}

.mid mat-form-field {
    padding: 0 10% 0 10%;
}

.top mat-form-field {
    
}

.inner {
    /* padding-right: 40%; */
}

.mid {
    padding: 50px;
}

mat-divider {
    margin: 0 20px 0 20px;
}

.profile-card {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

mat-card-image {
    width: 100%;
    object-fit: cover;
}

