<p>profile works!</p>
<img src="" alt="Profile Photo">
<h3>Name</h3>
<h3>Username</h3>
<hr>
<mat-card>
    <h3>Address</h3>
    <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput>
    </mat-form-field>
    <h3>Email</h3>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput>
    </mat-form-field>
    <h3>Phone Number</h3>
    <mat-form-field>
        <mat-label>Number</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-card-actions align="end">
        <button mat-raised-button >Edit</button>
        <button mat-raised-button >Save</button>
    </mat-card-actions>

</mat-card>