<form (ngSubmit)="submitForm()" #signupForm="ngForm">
    <div>
        <label>Email</label>
        <input type="email" name="email" [(ngModel)]="email" required>
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="password" [(ngModel)]="password" required>
    </div>
    <div>
        <label>Display Name</label>
        <input type="text" name="displayName" [(ngModel)]="displayName" required>
    </div>
    <div>
        <label>Photo URL</label>
        <input type="text" name="photoURL" [(ngModel)]="photoURL" required>
    </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="!signupForm.form.valid">Register Account</button>
</form>