<mat-form-field>
    <mat-label>Date</mat-label>
    <input [(ngModel)]='date' matInput>
</mat-form-field>
<br>
<mat-form-field>
    <mat-label>Description</mat-label>
    <input [(ngModel)]="description" matInput>
</mat-form-field>
<br>
<mat-form-field>
    <mat-label>Amount</mat-label>
    <input [(ngModel)]="amount" matInput>
</mat-form-field>
<br>
<button mat-raised-button color="primary" (click)="editTransaction()">Save Changes</button>
<button mat-raised-button color="warn" (click)="closeDialog()">Cancel</button>