#container {
    display: block;
    justify-items: center;
    border: red solid 6px;
    height: 338px;
}

h2 {
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.buttons {
    justify-content: center;
    gap: 10px;
}